*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border-style:none;
}
.pop_list{
    background-color:rgba(0,0,0,1);
    position:absolute;
    top:0;
    left:0;
    z-index:6;
    width:0;
    height:100vh;
    ul{
        margin-left:30px;
        height:100%;
        flex-flow:column;
        justify-content: center;
        align-items: flex-start;
        display:none;
        li{
            a{
                font:300 17px/66px Nunito;
                letter-spacing: 1.4px;
                color: #FFFFFF;
                opacity: 1;
                position:relative;
            }
        }
    }
    i{
        color:white;
        font-size:20px;
        position:absolute;
        top:10%;
        right:20%;
        display:none;
    }
}
.left_line{
    position:fixed;
    width:1px;
    height:100%;
    top:0;
    left:17%;
    background-color:#F9F9F9;
}
.right_line{
    position:fixed;
    width:1px;
    height:100%;
    top:0;
    right:17%;
    background-color:#F9F9F9;
}
.header_section{
    width:100%;
    background-image:url(../img/adult-athlete-dark-136404.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    overflow:hidden;
    &::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        background-color:#191919;
        opacity:0.59;
        width:100%;
        height:100%;
    }
    .header{
        position:relative;
        z-index:2;
        width:100%;
        overflow:hidden;
        .header_list{
            display:flex;
            justify-content: space-around;
            width:50%;
            margin:0 auto;
            margin-top:83px;
            a{
                font:300 14px/66px Nunito;
                letter-spacing: 1.4px;
                color: #FFFFFF;
                opacity: 1;
                position:relative;
                &::after{
                    content:"";
                    display:block;
                    position:absolute;
                    bottom:-3px;
                    left:0;
                    width:0%;
                    height:2px;
                    background-color:#fff;
                    transition: width 300ms ease-in;
                }
                &:hover::after{
                    width:100%;
                }
            }
        }
        i{
            color:white;
            font-size:30px;
            display:none;
            position:relative;
            z-index:6;
        }
    }
    .header_contact{
        width:66%;
        margin:120px auto 200px auto;
        display:flex;
        justify-content: flex-start;
        align-items:center;
        position:relative;
        z-index:2;
        .header_headline{
            width:50%;
            h2{
                font: 300 58px/75px Nunito;
                letter-spacing: 5.8px;
                color: #FFFFFF;
                opacity: 1;
                span{
                    display: block;
                }
            }
            a{  
                display:inline-block;
                margin-top:57px;
                background-color:#004777;
                border-radius:29px;
                border:none;
                outline:none;
                padding:19px 54px;
                font: 400 16px/20px Muli;
                letter-spacing: 1.6px;
                color: #FFFFFF;
                opacity: 1;
                border:1px solid #004777;
                transition:background 0.5s ease;
                &:hover{
                    background-color: transparent;
                    border:1px solid #004777;
                }
            }
        }
        .header_info{
            width:24%;
            p{
                font: 400 14px/25px Nunito;
                letter-spacing: 1.74px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }
}
.about_section{
    overflow:hidden;
    position:relative;
    .about_part{
        display:flex;
        .grey_part{
            background-color:#F9F9F9;
            width:17%;
        }
        .about_headline{
            width:66%;
            height:400px;
            display:flex;
            flex-flow:column;
            align-items:center;
            justify-content: flex-end;
            h2{
                text-align:center;
                font: 700 14px/66px Nunito;
                letter-spacing: 1.4px;
                color: #004777;
                opacity: 1;
                text-transform:capitalize;
            }
            h1{
                text-align: center;
                font: 700 28px/38px Nunito;
                letter-spacing: 2.8px;
                color: #003151;
                opacity: 1;
                margin-bottom:69px;
                span{
                    display:block;
                }
            }
        }
        .empty_part{
            width:17%;
        }
    }
    .about{
        width:83%;
        margin:0 0 60px auto;
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding:58px 0;
        padding-left:100px;
        padding-right:17%;
        position: relative;
        z-index:2;
        .about_info{
            width:27%;
            position: relative;
            z-index:2;
            .first_paragraph{
                font: 400 14px/25px Nunito;
                font-weight:bold;
                letter-spacing: 1.74px;
                color: #003151;
                opacity: 1;
            }
            .second_paragraph,
            .third_paragraph{
                font: 400 14px/25px Nunito;
                letter-spacing: 1.74px;
                color: #0031517A;
                opacity: 1;
                margin-top:23px;
            }
        }
        .about_img{
            width:46%;
            position: relative;
            z-index:2;
            overflow:hidden;
            backface-visibility:hidden;
            img{
                left:0;
                width:100%;
                transition:transform 0.5s ease;
                overflow:hidden;
                display:block;
                // backface-visibility:hidden;
                // -webkit-backface-visibility: hidden;
                margin:0 1px;
            }
            &:hover{
                img{
                transform:scale(1.1);
                }
            }
        }
        .grey_part{
            width:29%;
            height:100%;
            background-color:#F6F6F6;
            position: absolute;
            right:0;
            top:0;
        }
    }
    .dots{
        position: absolute;
        bottom:0;
        right:40%;
        width:9%;
    }
}
.example_section{
    background-color:#F9F9F9;
    margin-top:180px;
    .example_container{
        display:flex;
        justify-content: space-between;
        width:66%;
        margin:auto;
        padding-bottom:175px;
        .example_items{
            transform:translateY(-26%);
            width:30%;
            .example_img{
                width:100%;
                overflow:hidden;
                backface-visibility:hidden;
                img{
                    width:100%;
                    height:100%;
                    transition:transform 0.5s ease;
                    margin:1px;
                    display:block;
                    backface-visibility:hidden;
                    -webkit-backface-visibility: hidden;
                    overflow:hidden;
                    margin:0 1.1px;
                }
                &:hover{
                    img{
                    
                    transform:scale(1.1);
                    }
                }

            }
            .example_info{
                margin-top:40px;
                display:flex;
                justify-content: space-between;
                .blue_part{
                    width:7px;
                    height:19px;
                    background-color:#004777;
                }
                .example_paragraph{
                    width:85%;
                    h2{
                        font: 600 14px/19px Nunito;
                        letter-spacing: 1.4px;
                        color: #003151;
                        opacity: 1;
                    }
                    p{
                        margin-top:13px;
                        font: 400 12px/22px Nunito;
                        letter-spacing: 1.49px;
                        color: #0031517A;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.gradiant{
    position:relative;
    .founder_section{
        padding-bottom:85px;
        position:relative;
        z-index:2;
        .founder_container{
            width:66%;
            margin:auto;
            position:relative;
            text-align:right;
            height:577px;
            .founder_img{
                position:absolute;
                left:0;
                top:-10%;
                width:28%;
                overflow:hidden;
                backface-visibility:hidden;
                img{
                    width:100%;
                    position: relative;
                    z-index:3;
                    transition: all 0.5s ease;
                    display:block;
                    margin:0 1px;
                    overflow:hidden;
                }
            &:hover{
                img{
                transform:scale(1.1);
                }
            }
            }
            .founder_info{
                background-color:#003151;
                width:80%;
                height:100%;
                margin:0 0 0 auto;
                display:flex;
                flex-flow:column;
                justify-content:center;
                align-items: flex-end;
                padding:0 15% 0 20%;
                p{
                    font: 400 16px/24px Nunito;
                    font-style: italic;
                    letter-spacing: 1.6px;
                    color: #FFFFFF;
                    opacity: 1;
                    text-align: left;
                }
                h2{
                    margin-top:63px;
                    font: 600 16px/24px Nunito;
                    font-style: italic;
                    letter-spacing: 1.6px;
                    color: #FFFFFF;
                    text-align:right;
                }
                h3{
                    font: 200 16px/24px Nunito;
                    letter-spacing: 1.6px;
                    color: #FFFFFF;
                    text-align: right;
                }
            }
        }
        .dots_img{
            position:absolute;
            transform: rotateZ(90deg);
            bottom:0;
            left:13%;  
            z-index:2;
            // width:20%;
        }
    }
    .programs_section{
        margin-top:130px;
        position:relative;
        z-index:2;
        .programs_container{
            width:55%;
            margin:auto;
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap:100px;
            grid-column-gap: 17%;
            .programs_headline{
                h1{
                    font: 700 28px/44px Nunito;
                    letter-spacing: 2.8px;
                    color: #003151;
                    opacity: 1;
                }
            }
            .programs_items{
                display:flex;
                align-items:flex-start;
                justify-content: space-between;
                img{
                    margin-top:13px;
                }
                .programs_info{
                    width:80%;
                    h2{
                        font: 600 18px/44px Nunito;
                        letter-spacing: 1.8px;
                        color: #003151;
                        opacity: 1;
                    }
                    p{  
                        margin-top:14px;
                        font: 600 14px/24px Nunito;
                        letter-spacing: 1.4px;
                        color: #0031517A;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .contact_section{
        padding-bottom:215px;
        position:relative;
        overflow:hidden;
        .contact_container{
            width:66%;
            margin:215px auto 0 auto;
            background-color:#F2F2F2;
            display:flex;
            flex-flow:column;
            align-items:center;
            justify-content: flex-start;
            padding: 75px 0 45px 0;
            position:relative;
            z-index:2;
            h2{
                font:800 14px/30px Nunito;
                letter-spacing: 1.74px;
                color: #0098FE;
                opacity: 1;
                text-transform:capitalize;
            }
            h1{
                margin-top:9px;
                font: 500 28px/35px Nunito;
                letter-spacing: 3.47px;
                color: #004777;
                opacity: 1;
                text-align:center;
                span{
                    display:block;
                }
            }
            .input_part{
                position:relative;
                margin-top:69px;
                input{
                    width:346px;
                    height:44px;
                    border-radius:26px;
                    border:none;
                    outline:none;
                    background-color:white;
                    padding:0 14% 0 20px;
                    font: 500 18px/28px Nunito;
                }
                button{
                    position:absolute;
                    top:50%;
                    right:2%;
                    transform:translateY(-50%);
                    width:37px;
                    height:37px;
                    background-color:#004777;
                    border:1px solid #004777;
                    outline:none;
                    border-radius:50%;
                    cursor: pointer;
                    i{
                        color:white;
                    }
                    &:hover{
                        background-color:lighten(#004777,8%);
                    }
                }
            }
            p{
                font: 400 14px/30px Nunito;
                letter-spacing: 1.74px;
                color: #ABABAB;
                opacity: 1;
                margin-top:100px;
            }
            a{
                text-decoration: underline;
                font: 600 12px/30px Nunito;
                letter-spacing: 1.49px;
                color: #91B5CC;
                opacity: 1;
                margin-top:9px;
                cursor:pointer;
                &:hover,&:active{
                    color: #615d5d;
                }
            }
            img{
                position:absolute;
                bottom:-20%;
                transform:rotateZ(90deg);
                left:8%;
                // width:13%;
            }
        }
    }
    .gradiant_part{
        position:absolute;
        right:0;
        top:0;
        width:50%;
        height:100%;
        background: transparent linear-gradient(89deg, #00315100 0%, #7F8D952E 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
    }
}

//Responsive

@media only screen and (max-width:1315px){
    .header_section{
        .header_contect{
            justify-content: space-between;
            .header_headline {
                width:unset;
            }
        }
    }
    .about_section{
        .about{
            padding-left:70px;
            .about_info{
                width:40%;
            }
            .about_img{
                width:45%;
            }
        }
    }
    .gradiant{
        .founder_section{
            .founder_container{
                height:525px;
            }
        }
    }
}
@media only screen and (max-width:1100px){
    .header_headline{
        h2{
            font: 300 40px/75px Nunito !important;
        }
    }
    .header_info {
        width: 40% !important;
        margin-left:50px !important;
    }
    .about_section{
        .about{
            flex-flow:column-reverse;
            align-items:center;
            padding-left:20px;
            .about_info{
                width:90%;
                margin-top:30px;
            }
            .about_img{
                width:50%;
            }
            .grey_part{
                display:none;
            }
        }
    }
    .example_section{
        .example_container{ 
            flex-flow:column;
            align-items:center;
            .example_items{
                transform:translateY(-15%);
                width:45%;
                margin-bottom:50px;
                .example_info{
                    margin-top:20px;
                }
            }
        }
    }
    .gradiant{
        .founder_section{
            .founder_container{
                display:flex;
                align-items:center;
                .founder_img{
                    position:unset;
                    width:30%;
                }
                .founder_info{
                    width:65%;
                    padding:0 20px;
                }
            }
        }
        .programs_section{
            .programs_container{
                width:63%;
            }
        }
        .contact_section{
            .contact_container{
                img{
                    width:23%;
                }
            }
        }
    }
}
@media only screen and (max-width:770px){
    .header_section{
        .header{
            .header_list{
                width:69%;
            }
        }
        .header_contact{
            flex-flow:column-reverse;
            position:relative;
            padding-top:150px;
            margin-top:60px;
            .header_headline{
                text-align:center;
                width:80%;
                h2{
                    position:absolute;
                    top:0;
                    left:50%;
                    transform:translateX(-50%);
                    width:100%;
                    text-align:center;
                    font: 300 40px/46px Nunito !important;
                    span{
                        display:inline;
                    }
                }
            }
            .header_info{
                width:80% !important;
                margin-left:0 !important;
                margin-right:0 !important;
                margin:auto;

                p{
                    text-align:center;
                }
            }
        }
    }
    .example_section{
        .example_container{
            .example_items{
                width:69%;
            }
        }
    }
    .gradiant{
        .founder_section{
            .founder_container{
                flex-flow:column;
                align-items:center;
                height:unset;
                .founder_img{
                    width:50%;
                    margin-top:10px;
                    img{
                        object-fit: contain;
                    }
                }
                .founder_info{
                    margin:auto;
                    margin-top:30px;
                    width:95%;
                    padding:20px;
                }
            }
        }
        .programs_section{
            .programs_container{
                grid-template-columns: 1fr;
                .programs_headline{
                    h1{
                        text-align:center;
                    }
                }
            }
        }
        .contact_section{
            .contact_container{
                h1{
                    font: 500 23px/35px Nunito;
                }
            }
        }
    }
}
@media only screen and (max-width:580px){
    .left_line{
        left:11.5%;
    }
    .right_line{
        right:11.5%;
    }
    .container{
        width:77% !important;
    }
    .short_container{
        width:11.5% !important;
    }
    .about{
        width:88.5% !important;
        padding-right:11.5% !important;
    }
    .header_section{
        .header_contact{
            margin-bottom:69px;
            .header_headline{
                h2{
                    font: 300 30px/46px Nunito !important;
                }
            }
        }
    }
    .about_section{
        .about_part{
            .about_headline{
                height:276px;
                justify-content: center;
                h1{
                    font: 700 19px/32px Nunito;
                    margin-bottom:0;
                }
            }
        }          
        .dots{
            width:19%;
        }
    }
    .example_section{
        .example_container{
            padding-bottom:50px;
        }
    }
    .gradiant{
        .dots_img{
            width:23%;
        }
        .programs_section{
            margin-top:50px;
        }
        .contact_section{
            .contact_container{
                margin-top:100px;
                h1{
                    font: 700 18px/27px Nunito;
                }
                .input_part{
                    width:80%;
                        input{
                            width:100%;
                        }
                }
                img{
                    bottom:-13%;
                }
            }
        }
    }
}
@media only screen and (max-width:500px){
    .header_list{
        display:none !important;
    }
    .header_section{
        .header{
            display:flex;
            justify-content:flex-end;
            i{
                display:block;
                margin:50px 11.5% 0 0;
            }
        }
            .header_contact{
                margin-bottom:100px !important;
                .header_headline{
                    a{
                        padding: 15px 38px;
                        font: 400 15px/20px Muli;
                    }
                }
                .header_info{
                    width:100% !important;
                }
            }
        }
        .input_part{
            input{
                padding-right:17% !important;
            }
        }
}