<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>GYM</title>
  </head>
<body>
<header>
    <img src="./img/Mask Group 1.png" alt="">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Scheduling</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Pricing</a></li>
    </ul>
    <h1>Transform Your Body In 2 Months</h1>
    <p>Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the.</p>
    <a href="">Contact</a>
</header>