<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="icon" href="./img/icon.png" /> -->
    <title>Gym</title>
  </head>
<body>
   <div class="container0">
        <header>
            <div class="container">
                <nav>
                    <button class="toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="nav-links">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Scheduling</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Pricing</a></li>
                            
                        </ul>
                    </div>
                    
                </nav>
                <div class="content0">
                    <div class="content">
                            <h1>Transform <br> Your  Body <br> In 2 Months</h1>
                            <a href="#"> Contact</a>


                    </div>

                    <div class="parag">
                            <p>Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel  </p>

                    </div>
                </div>
                

            </div>

        </header>
